name: Deploy Capstone IAM Project

on:
  push:
    branches:
      - main
  workflow_dispatch:    # Allows manual trigger

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Make deploy script executable
        run: chmod +x capstone-deploy-working.sh

      - name: Run Deployment Script
        run: bash capstone-deploy-working.sh
