name: Deploy Capstone IAM Project

on:
  push:
    branches:
      - main
  workflow_dispatch:    # Allows manual trigger

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_SECRETE }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Install AWS CLI (if needed)
        run: |
          sudo apt-get update
          sudo apt-get install -y awscli

      - name: Make deploy script executable
        run: chmod +x capstome-deploy-working.sh

      - name: Run Deployment Script
        run: sudo bash capstome-deploy-working.sh
